#side-nav{
    height: 100vh;
    width: 300px;
    position: fixed;
    overflow: hidden;
    padding: 0;
}

.sidenav-top{
    height: 150px;
}

#sidenav-img{
    height: 70px;
}

#sidenav-title{
    font-size: 20px;
    width: 110px;
}

.sidenav-option{
    width: 100%;
    height 20%;
    padding-left: 25%;
    cursor: pointer;
}

.sidenav-item-wrapper{
    width: 145px;
    height: 80px;
}

.sidenav-item-img{
    height: 40px !important;
    margin-right: 10%;
}

.sidenav-item{
    font-size: 18px;
    color: #4b4b4b;
}
#sidenav-footer{
    height: 70px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sidenav-attr-img{
    height:25px !important;
}

#sidenav-attr{
    font-size: 17px;
}

#card-section{
    margin-left: 300px;
    padding-bottom: 2vh;
    margin-top: 30px;
    z-index: 10;
}

#card-container{
    margin: 0 auto;
    width: 85%;
}

.card{
    border-bottom: solid;
    border-radius: 5px;
    border-top-color: #03a9f4;
    border-bottom-color: white;
    min-height: 200px;
    height: auto;
    display: block;
}

.card-header{
    border-top: solid;
    border-top-color: #03a9f4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100px;
    max-height: 18vh;
    min-height: 80px;
    margin: 0;
}

#card-title{
    color:white;
    float: left;
    width: 100%;
}

#card-title{
    font-size: 28px;
}

#card-help{
    height: 35px;
}

.card-extended-header{
    margin: 0;
    width: 100%;
    height: 250px;
    background-color: #03a9f4;
}

.extended-header-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.extended-column{
    width: 50%;
    float: left;
    height: 100px;
}

.extended-header-header{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
}

.extended-header-content{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 32px;
    margin-top: 0;
}

.grey-section{
    background-color: #F9F9F9;
    height: 660px;
    padding-top: 300px;
    margin-bottom: 35px;
}

.graph-card{
    width: 85%;
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 17px;
}

.graph-content{
    height: 340px;
    width: 100%;
}

.graph-button-row{
    width: 100%;
    height: 60px;
}

.graph-button-section{
    width: 50%;
    height: 100%;
    float: left;
}

.button-section-inner{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button-section-title{
    height: auto;
    width: 85%;
    text-align: center;
    font-size: 18px;
    color: white;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.button-section-arrow{
    width: 15%;
    height: 100%;
    float: left;
}

.detail-row{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.detail-column{
    width: 50%;
    height: auto;
    float: left;
}

.pl-num-arrow-container{
    width: 60%;
    height: 100%;
    float: left;
}

.pl-number{
    color: #03a9f4;
    font-size: 28px;
    width: 40%;
    height: auto;
    float: left;
    text-align: right;
    margin-top: 0;
}

.pl-arrow-container{
    width: 20%;
    height: auto;
    float: left;
    text-align: center;
}

.pl-arrow{
    width: 25px;
    height: auto;
}

.pl-percent{
    float: left;
    width: 40%;
    font-size: 28px;
    text-align: left;
    color: #757575;
    margin-top: 0;
}

.section-header-row{
    width: 100%;
    height: 60px;
    margin-top: 110px;
    margin-bottom: 0;
}

.section-header-header{
    font-size: 22px;
    color: #757575;
    margin-left: 3%;
    margin-top: 0;
    width: auto;
    float: left;
}

.section-header-help{
    width: 30px;
    height: auto;
    float: right;
    margin-right: 3%;
    cursor: pointer;
}

.gainer-loser-container{
    width: 100%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
}

.gainer-loser-card{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    float: left;
    margin: 0 auto;
}

.gl-card-ticker{
    width: 100%;
    height: 33.33%;
    margin: 0;
    font-size: 22px;
    text-align: center;
    padding-top: 18%;
/*    background-color: blue;*/
}

.gl-card-price{
    width: 100%;
    height: 33.33%;
    margin: 0;
    font-size: 20px;
    text-align: center;
    padding-top: 11%;
/*    background-color: orange;*/
}

.gl-card-change{
    width: 100%;
    height: 33.33%;
    margin: 0;
    font-size: 18px;
    text-align: center;
    padding-top: 2%;
/*    background-color: purple;*/
}

/* Apply these styles to gl card text */
.card-green-dark{
    color: #4CAF50;
}

.card-green-light{
    color: #00E676;
}

.card-red-dark{
    color: #D32F2F;
}

.card-red-light{
    color: #EF5350;
}

.overview-widget-container{
    height: 450px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 25px;
}


/* Screens smaller than 1200 */
@media only screen and (max-width: 1200px){
    body{
        min-width: 1000px;
        min-height: 600px;
    }
    #side-nav{
        width: 150px;
    }
    #sidenav-title{
        display: none;
    }
    .sidenav-item{
        display: none;
    }
    .sidenav-item-img{
        margin-left: 15%;
        height: 35px !important;
    }
    #sidenav-footer{
        height: 50px;
    }
    #sidenav-attr-img{
        margin-left: 20%;
    }
    #sidenav-attr{
        display: none;
    }
    #card-section{
        margin-left: 150px;
    }
}

/* Large displays wider than 1710 */
@media only screen and (min-width: 1710px) and (max-width: 2200px){
    #card-container{
        width: 1200px;
        left: 50%;
    }
}

/* Ultra large displays wider than 2200 */
@media only screen and (min-width: 2200px){
    #card-container{
        width: 1200px;
        left: 50%;
    }
}